{% extends 'base.html' %}
{% load staticfiles %}
{% block files %}
<script type="text/javascript">
$(document).ready(function () {
    $('#myModal').on('show.bs.modal', function(e) {
        var hostname = $(e.relatedTarget).data('hostname');
        var ip = $(e.relatedTarget).data('ip');
        var mac_address = $(e.relatedTarget).data('mac_address');
        var boottime = $(e.relatedTarget).data('boottime');
        console.log(hostname, ip, boottime);
        $(e.currentTarget).find('[name="hostname"]').html(hostname);
        $(e.currentTarget).find('[name="ip"]').html(ip);
        $(e.currentTarget).find('[name="mac_address"]').html(mac_address);
        $(e.currentTarget).find('[name="boottime"]').html(boottime);
    })

    $("#graphIframe").on("load", function(){
        var bHeight = $("#graphIframe")[0].contentWindow.document.body.scrollHeight;
        $("#graphIframe").attr('height', bHeight);
    })

    $('#docDrawer').on('show.bs.drawer', function(e) {
        var hostname = $(e.relatedTarget).data('hostname');

        src = 'hostgraph/?h=' + hostname
        $(e.currentTarget).find('[name="hostname"]').html(hostname);
        $(e.currentTarget).find('iframe#graphIframe').attr('src', src);
    })


});



</script>
<style type="text/css">
    .table th, .table td {
        text-align: center;
        vertical-align: middle!important;
    }
</style>

{% endblock %}
{% block main_content %}
<div id="docDrawer" class="drawer drawer-right dw-xs-10 dw-sm-6 dw-md-5 fold in" aria-labelledby="docDrawer">
        <div class="drawer-contents">
            <div class="drawer-heading">
                <button type="button" class="close" data-dismiss="drawer"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h2 class="drawer-title" name="hostname"><strong>bootstrap-drawer</strong></h2>
            </div>

            <iframe name="host-graph" id="graphIframe"
                    src="" frameborder="0" scrolling="no" width="100%" height=""></iframe>
        </div>
    </div>
<table class="table table-striped">
<thead>
    <tr>
        <td>ID/主机名</td>
        <td>监控</td>
        <td>状态</td>
        <td>IP地址</td>
        <td>MAC地址</td>
        <td>操作</td>
    </tr>
</thead>
    <tbody>
{% for hostname, host in hosts.items %}
    <tr>
        <td>{{ hostname }}</td>
        <td><a href="#docDrawer" data-show="drawer" href="#docDrawer" data-hostname="{{ hostname }}" aria-foldedopen="false"
            aria-controls="docDrawer">
            <img src="{% static 'images/figure.png' %}" width="20px" height="20px"></a></td>
        <td>运行中</td>
        <td>{{ host.ip }}</td>
        <td>{{ host.mac_address }}</td>
        <td>操作</td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}