{% extends 'base.html' %}
{% load staticfiles %}
{% block files %}
<script type="text/javascript">
$(document).ready(function () {
    $('#myModal').on('show.bs.modal', function(e) {
        var hostname = $(e.relatedTarget).data('hostname');
        var ip = $(e.relatedTarget).data('ip');
        var mac_address = $(e.relatedTarget).data('mac_address');
        var boottime = $(e.relatedTarget).data('boottime');
        console.log(hostname, ip, boottime);
        $(e.currentTarget).find('[name="hostname"]').html(hostname);
        $(e.currentTarget).find('[name="ip"]').html(ip);
        $(e.currentTarget).find('[name="mac_address"]').html(mac_address);
        $(e.currentTarget).find('[name="boottime"]').html(boottime);
    })

    $("#graphIframe").on("load", function(){
        var bHeight = $("#graphIframe")[0].contentWindow.document.body.scrollHeight;
        $("#graphIframe").attr('height', bHeight);
    })

    $('#docDrawer').on('show.bs.drawer', function(e) {
        var hostname = $(e.relatedTarget).data('hostname');

        src = 'hostgraph/?h=' + hostname
        $(e.currentTarget).find('[name="hostname"]').html(hostname);
        $(e.currentTarget).find('iframe#graphIframe').attr('src', src);
    })


});



</script>
<style type="text/css">
    .table th, .table td {
        text-align: center;
        vertical-align: middle!important;
    }
</style>

{% endblock %}
{% block main_content %}
<div id="docDrawer" class="drawer drawer-right dw-xs-10 dw-sm-6 dw-md-5 fold in" aria-labelledby="docDrawer">
        <div class="drawer-contents">
            <div class="drawer-heading">
                <button type="button" class="close" data-dismiss="drawer"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h2 class="drawer-title" name="hostname"><strong>bootstrap-drawer</strong></h2>
            </div>

            <iframe name="host-graph" id="graphIframe"
                    src="" frameborder="0" scrolling="no" width="100%" height=""></iframe>
        </div>
    </div>
<table class="table table-striped">
<thead>
    <tr>
        <td>ID/主机名</td>
        <td>监控</td>
        <td>状态</td>
        <td>IP地址</td>
        <td>MAC地址</td>
        <td>操作</td>
    </tr>
</thead>
    <tbody>
{% for mac_address, host in hosts %}
    <tr>
        <td>{{ host.hostname }}</td>
        <td>
            {% if host.hostname %}
                <a href="#docDrawer" data-show="drawer" href="#docDrawer" data-hostname="{{ host.hostname }}" aria-foldedopen="false"
                aria-controls="docDrawer">
                <img src="{% static 'images/figure.png' %}" width="20px" height="20px"></a></td>
            {% endif %}

        {% if host.stat == '1online' %}
            <td class="text-success">在线中</td>
        {% elif host.stat == '2offline' %}
            <td class="text-warning">离线</td>
        {% elif host.stat == '0unsafe' %}
            <td class="text-danger">危险</td>
        {% endif %}
        <td>{{ host.ip }}</td>
        <td>{{ mac_address }}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                更多 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">配置安全策略</a></li>
                    <li><a href="#">加入信任列表</a></li>
                </ul>
            </div>

        </td>
    </tr>
{% endfor %}
    </tbody>
</table>

{% endblock %}