{% extends 'base_without_header.html' %}
{% load staticfiles %}
{% block files %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-drawer.css' %}">
<script type="text/javascript" src="{% static 'js/drawer.js' %}"></script>

<script type="text/javascript">
(function($) {
    $.extend({
        urlGet:function(){
            var aQuery = window.location.href.split("?");//取得Get参数
            var aGET = new Array();
            if(aQuery.length > 1) {
                var aBuf = aQuery[1].split("&");
                for(var i=0, iLoop = aBuf.length; i<iLoop; i++) {
                    var aTmp = aBuf[i].split("=");//分离key与Value
                    aGET[aTmp[0]] = aTmp[1];
                }
            }
            return aGET;
        },
    });
})(jQuery);

$(document).ready(function () {
    var GET = $.urlGet();
    var tab_index = GET['tab'];
    var time_range = GET['r'];
    var host = GET['h'];

    if (tab_index == "" || tab_index == undefined || tab_index == null) {
        tab_index = 0
    }
    var activeTab = $("#tabs").find("li:eq(" + tab_index + ") a").tab("show");

    $("input[name='r']").change(function(){
        var activeTab = $("#tabs").find("li.active");
        var activeTabIndex = activeTab.index();
        console.log(activeTabIndex);
        $('input[name="tab"]').val(activeTabIndex)
        $("#monitor_form").submit();
    });

    $("#warning-table").attr('data-url', 'get_warnings?h=' + host + '&r=' + time_range);
    $("#ip-table").attr('data-url', 'get_ippackets?h=' + host + '&r=' + time_range);
    $("#media-table").attr('data-url', 'get_mediainfo?h=' + host + '&r=' + time_range);
    $("#file-table").attr('data-url', 'get_fileinfo?h=' + host + '&r=' + time_range);
    $("#process-table").attr('data-url', 'get_processinfo?h=' + host + '&r=' + time_range);

    $('#warning-table').on('sort.bs.table', function(name,order) {
        console.log(name, order);
    });
})


</script>
<script type="text/javascript" src="{% static 'js/bootstrap-table.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-zh-CN.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tableExport.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-export.js' %}"></script>

<style type="text/css">

body {
    padding-top: 140px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle!important;
}

</style>
{% endblock %}
{% block main_content %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <form action="" role="form" name="monitor_form" id="monitor_form" style="padding: 20px 0 20px 0">
            <input type="hidden" name="h" value="{{ host }}">
            <input type="hidden" name="tab" value="">
            <div class="btn-group" id="color" data-toggle="buttons">
                {% for time_value, time in time_range %}
                <label class="btn btn-default
                {% if request.GET.r == time_value %}
                 active
                {% elif not request.GET.r and time_value == 'hour' %}
                 active
                {% endif %}
                ">
                    <input type="radio" name="r" class="toggle"
                           value="{{ time_value }}">
                    {{ time.1 }}
                </label>
                {% endfor %}
            </div>
        </form>
        <ul class="nav nav-tabs" id="tabs">
            <li><a href="#device" aria-controls="device" role="tab"
                                  data-toggle="tab">设备</a></li>
            <li><a href="#process" aria-controls="process" role="tab" data-toggle="tab">进程</a></li>
            <li><a href="#file" aria-controls="file" role="tab" data-toggle="tab">文件</a></li>
            <li><a href="#media" aria-controls="media" role="tab" data-toggle="tab">移动介质</a>
            <li><a href="#ippackets" aria-controls="ippackets" role="tab" data-toggle="tab">ip包</a>
            <li><a href="#warning-history" aria-controls="ippackets" role="tab" data-toggle="tab">预警历史</a>
            </li>
        </ul>
    </div>
</nav>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="device">
        <ul class="list-group">
            <li class="list-group-item-heading"><strong>网络监控</strong></li>
            <li class="list-group-item text-center">
                <img src="image/?h={{ host }}&m=net&r={{ range }}"/>
            </li>
            <li class="list-group-item-heading"><strong>CPU监控</strong></li>
            <li class="list-group-item text-center">
                <img src="image/?h={{ host }}&m=cpu&r={{ range }}"/>
            <li class="list-group-item-heading"><strong>内存监控</strong></li>
            <li class="list-group-item text-center">
                <img src="image/?h={{ host }}&m=mem&r={{ range }}"/>
            <li class="list-group-item-heading"><strong>磁盘使用率</strong></li>
            <li class="list-group-item text-center">
                <div content="container">
                    <div class="row">
                        <div class="progress  col-xs-9">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ disk.used_per }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{ disk.used_per }}%;">
                                {{ disk.used_per }}%
                            </div>

                        </div>
                        <div class="col-xs-3" style="font-size: 12px;">
                            {{ disk.used }} GB/{{ disk.total }} GB
                        </div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div role="tabpanel" class="tab-pane" id="process">
        <table data-classes="table table-striped" id="process-table"
               data-toggle="table" data-url="" data-sort-name="time"
               data-show-export="true" data-search="true" data-show-refresh="true" z data-sort-order="desc">
            <thead>
                 <tr>
                     <th data-field="time" data-sortable="true">时间</th>
                     <th data-field="process_name" data-sortable="true">进程名称</th>
                     <th data-field="process_id" data-sortable="true">进程id</th>
                     <th data-field="user" data-sortable="true">用户</th>
                     <th data-field="boottime" data-sortable="true">启动时间</th>
                     <th data-field="runtime"  data-sortable="true">运行时间</th>
                     <th data-field="used_ports">占用端口</th>
                 </tr>
             </thead>
         </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="file">
        <table data-classes="table table-striped" id="file-table"
               data-toggle="table" data-url="" data-sort-name="time"
               data-show-export="true" data-search="true" data-show-refresh="true"  data-sort-order="desc">
            <thead>
                 <tr>
                     <th data-field="time" data-sortable="true">时间</th>
                     <th data-field="file_name" data-sortable="true">文件名</th>
                     <th data-field="user" data-sortable="true">用户</th>
                     <th data-field="operate_type" data-sortable="true">操作类型</th>
                     <th data-field="modify_size" data-sortable="true">修改大小(KB)</th>
                 </tr>
             </thead>
         </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="media">
        <table data-classes="table table-striped" id="media-table"
               data-toggle="table" data-url="" data-sort-name="time"
               data-show-export="true" data-search="true" data-show-refresh="true"  data-sort-order="desc">
            <thead>
                 <tr>
                     <th data-field="time" data-sortable="true">时间</th>
                     <th data-field="media_name" data-sortable="true">介质名</th>
                     <th data-field="media_size" data-sortable="true">介质大小(MB)</th>
                     <th data-field="io_type" data-sortable="true">使用的io接口</th>
                     <th data-field="operate_file" data-sortable="true">所操作的文件名</th>
                 </tr>
             </thead>
         </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="ippackets">
        <table data-classes="table table-striped" id="ip-table"
               data-toggle="table" data-url="" data-sort-name="time"
               data-show-export="true" data-search="true" data-show-refresh="true"  data-sort-order="desc">
            <thead>
                 <tr>
                     <th data-field="time" data-sortable="true">时间</th>
                     <th data-field="app_name" data-sortable="true">应用名称</th>
                     <th data-field="send_port" data-sortable="true">发送端口</th>
                     <th data-field="recv_ip" data-sortable="true">接收ip</th>
                     <th data-field="recv_port" data-sortable="true">接收端口</th>
                 </tr>
             </thead>
         </table>
    </div>
    <div role="tabpanel" class="tab-pane" id="warning-history">
        <table data-classes="table table-striped" id="warning-table"
               data-toggle="table" data-url="" data-sort-name="time"
               data-show-export="true" data-search="true" data-show-refresh="true" data-sort-order="desc">
        <thead>
             <tr>
                 <th data-field="time" data-sortable="true">时间</th>
                 <th data-field="warning_type" data-sortable="true">预警类别</th>
                 <th data-field="warning_content" data-sortable="true">预警内容</th>
                 <th data-field="warning_level" data-sortable="true">预警等级</th>
             </tr>
         </thead>
     </table>
    </div>
</div>

{% endblock %}