{% extends 'base_without_header.html' %}
{% load staticfiles %}
{% block files %}
<link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css'%}">
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script type="text/javascript">
(function($) {
    $.extend({
        urlGet:function(){
            var aQuery = window.location.href.split("?");//取得Get参数
            var aGET = new Array();
            if(aQuery.length > 1) {
                var aBuf = aQuery[1].split("&");
                for(var i=0, iLoop = aBuf.length; i<iLoop; i++) {
                    var aTmp = aBuf[i].split("=");//分离key与Value
                    aGET[aTmp[0]] = aTmp[1];
                }
            }
            return aGET;
        },
    });
})(jQuery);

$(document).ready(function () {
    var disk = $('#disk-slider').slider().data('slider');
    var cpu = $('#cpu-slider').slider().data('slider');
    var mem = $('#mem-slider').slider().data('slider');
    var bytes_in = $('#bytes-in-slider').slider().data('slider');
    var bytes_out = $('#bytes-out-slider').slider().data('slider');

    $("#disk-slider").on("slide", function(slideEvt) {
	    $("#DiskSliderVal").text(slideEvt.value);
    });
    $("#cpu-slider").on("slide", function(slideEvt) {
	    $("#CpuSliderVal").text(slideEvt.value);
    });
    $("#mem-slider").on("slide", function(slideEvt) {
	    $("#MemSliderVal").text(slideEvt.value);
    });
    $("#bytes-in-slider").on("slide", function(slideEvt) {
	    $("#BytesInSliderVal").text(slideEvt.value);
    });
    $("#bytes-out-slider").on("slide", function(slideEvt) {
	    $("#BytesOutSliderVal").text(slideEvt.value);
    });

    $("form#safe_strategy_form").submit(function() {

        $this = $(this);

        var data = $this.serialize() + '&disk_used=' + disk.getValue() +
                                   '&cpu_used=' + cpu.getValue() +
                                   '&mem_used=' + mem.getValue() +
                                   '&bytes_in=' + bytes_in.getValue() +
                                   '&bytes_out=' + bytes_out.getValue();
        console.log(data)
        $.ajax({
            type: 'POST',
            url: $this.attr('action'),
            data: data,
            success: function (response) {
                console.log(response)

            }
        });

        return false;

    })

    $('#save-btn').on('click', function() {
        console.log(disk.getValue(), cpu.getValue(), mem.getValue())

        $("form#safe_strategy_form").submit();
    })

    $table = $('#net-table');
    $table.on('click', '.edit', function(){

        $table.find('.editable').show();
        $table.find('.ok').hide();
        $table.find('.edit').show();
        $(this).hide().siblings('.ok').show();
        $(this).closest('tr').find('.editable').editable('show');
        console.log($(this).closest('tr').find('.editable'));
    });

    $table.on('click', '.ok', function() {
        var $btn = $(this);
        /*
         Currently no elegant way to get actual values from shown inputs.
         It's possible to collect it manually, submit and then use `setValue` method to update data in table row. But it's overload..
         Need investigation.
        */
        $btn.closest('tr').find('.editable').editable('hide');
        $btn.hide().siblings('.edit').show();
    });

});

function ruleSelect(value) {
    return '<select class="form-control"> \
                          <option>INPUT</option> \
                          <option>FORWORD</option> \
                          <option>OUTPUT</option>\
                        </select>' ;
}

function idFormatter(value, row, index) {
    return index + 1;
}

function editFormatter(value, row, index) {
    return [
        '<a class="edit" href="javascript:void(0)" title="Edit">',
        '<i class="glyphicon glyphicon-pencil"></i>',
        '</a>',
        '<a class="ok" href="javascript:void(0)" title="Ok" style="display: none">',
        '<i class="glyphicon glyphicon-ok"></i>',
        '</a>',
    ].join('');
}



window.actionEvents = {
    'click .edit': function (e, value, row, index) {
        $(this).closest('tr').find('.editable').editable('show');
        console.log($(this).closest('tr').find('.editable'))
    },
};

function getColcomns(classPrefix) {
    if (classPrefix == 'net') {
         return [{
                    field: 'id',
                    title: 'id',
                    <!--visible: false,-->
                    searchable: false,
                    formatter: idFormatter
                }, {
                    checkbox: true
                }, {
                    field: 'rule',
                    title: '规则链',
                    editable: {
                        type: 'select',
                        url: '',
                        source: [
                            {value: 'INPUT', text: 'INPUT'},
                            {value: 'FORWARD', text: 'FORWARD'},
                            {value: 'OUTPUT', text: 'OUTPUT'}
                        ],
                        success: function(response, newValue) {
                            console.log(newValue);
                        },
                        mode: 'inline'
                    }
                }, {
                    field: 'ip',
                    title: 'ip',
                    editable: {
                        type: 'text',
                        showbuttons: false,
                        toggle: 'manual',
                        mode: 'inline'
                    },

                }, {
                    field: 'edit',
                    title: '编辑',
                    formatter: editFormatter,
                    events: actionEvents
                }];
     } else if (classPrefix == 'file') {
        return [{
                    field: 'id',
                    title: 'id',
                    <!--visible: false,-->
                    searchable: false
                }, {
                    checkbox: true
                }, {
                    field: 'file',
                    title: '文件名',
                    editable: {
                        type: 'text',
                    }
                }, {
                    field: 'permission',
                    title: '权限',
                    editable: {
                        type: 'text'
                    },
                }];
     }

}

function getUrl(classPrefix) {
    var GET = $.urlGet();
    var host = GET['h'];
    if (classPrefix == 'net') {
        return 'get_ippackets_rules?h=' + host;
    } else if (classPrefix == 'file') {
        return 'get_file_rules?h=' + host;
    }

}

$(function () {
    var oTable = new TableInit();
    oTable.Init('net');
    oTable.Init('file');

    var oButtonInit = new ButtonInit();
    oButtonInit.Init('net');
    oButtonInit.Init('file');

});

var TableInit = function () {
    var oTableInit = new Object();
    //初始化Table
    oTableInit.Init = function (classPrefix) {
        $('#'+classPrefix+'-table').bootstrapTable({
            url: getUrl(classPrefix),         //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            toolbar: '#'+classPrefix+'-toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            sortOrder: "asc",                   //排序方式
            search: true,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            showRefresh: true,                  //是否显示刷新按钮
            ajax: function (request) {
                $.ajax(request);
                console.log(request);
              },
            columns: getColcomns(classPrefix)
        });
    };
    return oTableInit;
};


var ButtonInit = function () {
    var oInit = new Object();
    var postdata = {};

    oInit.Init = function (classPrefix) {
        $("#"+classPrefix+"-btn-add").click(function () {
            $table = $('#'+classPrefix+'-table');
            index = $table.bootstrapTable('getData');
            console.log(index);
            $table.bootstrapTable('append', [
                {
                    "rule": "INPUT",
                    "ip": "192.168.1.100"
                }
            ]);

            var GET = $.urlGet();
            var host = GET['h'];

            $.ajax({
                type: 'post',
                url: 'add_ippackets_rules?h=' + host,
                data: 'chain=INPUT&ip=192.168.1.100',
                success: function (response) {
                    console.log(response)
                }
            });
        });

        $("#"+classPrefix+"-btn-remove").click(function () {
            var ids = $.map($('#'+classPrefix+'-table').bootstrapTable('getSelections'), function (row) {
                return row.id;
            });
            console.log(ids);
            <!--$('#'+classPrefix+'-table').bootstrapTable('remove', {-->
                    <!--field: 'id',-->
                    <!--values: ids-->
                <!--});-->

            var GET = $.urlGet();
            var host = GET['h'];

            data = $('#'+classPrefix+'-table').bootstrapTable('getSelections');
            console.log(data);
            console.log(JSON.stringify(data));
            <!--$.ajax({-->
                <!--type: 'post',-->
                <!--url: 'revome_ippackets_rules?h=' + host,-->
                <!--data: 'chain=INPUT&ip=192.168.1.100',-->
                <!--success: function (response) {-->
                    <!--console.log(response)-->
                <!--}-->
            <!--});-->
        });
    };

    return oInit;
};
</script>
<script type="text/javascript" src="{% static 'js/bootstrap-table.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-zh-CN.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-table-editable.js' %}"></script>
<style type="text/css">
body {
    padding-top: 50px;
}
ul li {
    list-style-type:none;
}
#Slider .slider-selection {
	background: #BABABA;
}
.table th, .table td {
    text-align: center;
    vertical-align: middle!important;
}
</style>
{% endblock %}
{% block main_content %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="min-height: 30px">
    <div class="container-fluid">
        <ul class="nav nav-tabs" id="tabs">
            <li class="active"><a href="#device" aria-controls="device" role="tab"
                                  data-toggle="tab">设备</a></li>
            <!--<li><a href="#process" aria-controls="process" role="tab" data-toggle="tab">进程</a></li>-->
            <li><a href="#file" aria-controls="file" role="tab" data-toggle="tab">文件</a></li>
            <li><a href="#ippackets" aria-controls="ippackets" role="tab" data-toggle="tab">ip包</a>
            </li>
        </ul>
    </div>
</nav>

<div class="tab-content" style="padding: 0 20px 0 20px">
    <div role="tabpanel" class="tab-pane active" id="device">
        <form action="" role="form" name="form" id="safe_strategy_form" method="post"> {% csrf_token %}
            <input type="hidden" name="hostname" value="{{ host }}">

            <ul class="list-group">
            <li class="list-group-item-heading"><strong>硬盘监控</strong></li>
            <li class="list-group-item">
                硬盘使用阀值：<input id="disk-slider" data-slider-id='Slider' type="text"
                       data-slider-min="0" data-slider-max="{{ threshold.disk_total }}"
                       data-slider-step="1" data-slider-value="{{ threshold.disk_used }}"/>
                <span id="DiskSliderValLabel">当前值: <span id="DiskSliderVal">{{ threshold.disk_used }}</span> GB</span>
            </li>
            <li class="list-group-item-heading"><strong>CPU监控</strong></li>
            <li class="list-group-item">
                CPU使用阀值：<input id="cpu-slider" data-slider-id='Slider' type="text"
                       data-slider-min="0" data-slider-max="100" data-slider-step="1"
                       data-slider-value="{{ threshold.cpu_used }}"/>
                <span id="CpuSliderValLabel">当前值: <span id="CpuSliderVal">{{ threshold.cpu_used }}</span> %</span>
            <li class="list-group-item-heading"><strong>内存监控</strong></li>
            </li>
                <li class="list-group-item">
                内存使用阀值：<input id="mem-slider" data-slider-id='Slider' type="text"
                       data-slider-min="0" data-slider-max="{{ threshold.mem_total }}"
                       data-slider-step="1" data-slider-value="{{ threshold.mem_used }}"/>
                    <span id="MemSliderValLabel">当前值: <span id="MemSliderVal">{{ threshold.mem_used }}</span> KB</span>
            </li>
                <li class="list-group-item-heading"><strong>网络监控</strong></li>
            </li>
                <li class="list-group-item">
                下载阀值：<input id="bytes-in-slider" data-slider-id='Slider' type="text"
                       data-slider-min="0" data-slider-max="{{ threshold.bytes_in_max }}"
                       data-slider-step="1" data-slider-value="{{ threshold.bytes_in }}"/>
                    <span id="BytesInSliderValLabel">当前值: <span id="BytesInSliderVal">{{ threshold.bytes_in }}</span> KB</span>
                <br><br>上传阀值：<input id="bytes-out-slider" data-slider-id='Slider' type="text"
                   data-slider-min="0" data-slider-max="{{ threshold.bytes_out_max }}"
                   data-slider-step="1" data-slider-value="{{ threshold.bytes_out }}"/>
                <span id="BytesOutSliderValLabel">当前值: <span id="BytesOutSliderVal">{{ threshold.bytes_out }}</span> KB</span>
            </li>
            </ul>
            <div class="modal-footer">
                <button id="save-btn" type="button" class="btn btn-primary">保存</button>
            </div>
        </form>
    </div>
    <!--<div role="tabpanel" class="tab-pane" id="process">-->

    <!--</div>-->
    <div role="tabpanel" class="tab-pane" id="file">
        <div id="file-toolbar" class="btn-group">
            <button type="button" class="btn btn-default" id="file-btn-add">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
            <button type="button" class="btn btn-default" id="file-btn-remove">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
        <table id="file-table">

         </table>
        <div class="modal-footer">
            <button id="save-file-btn" type="button" class="btn btn-primary">保存</button>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="ippackets">
        <div id="net-toolbar" class="btn-group">
            <button type="button" class="btn btn-default" id="net-btn-add">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
            <button type="button" class="btn btn-default" id="net-btn-remove" >
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </div>
        <table id="net-table">

         </table>
        <div class="modal-footer">
            <button id="save-net-btn" type="button" class="btn btn-primary">保存</button>
        </div>
    </div>
</div>
{% endblock %}