<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>预警邮件</title>
</head>
<body>
    <table class="table table-striped">
    <thead>
        <tr>
            <td>ID/主机名</td>
            <td>监控</td>
            <td>状态</td>
            <td>IP地址</td>
            <td>MAC地址</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody>
    {% for mac_address, alarm in alarm_info %}
    <tr>
        <td>{{ host.hostname }}</td>
        <td>
            {% if host.hostname %}
                <a href="#docDrawer" data-show="drawer" href="#docDrawer" data-hostname="{{ host.hostname }}" aria-foldedopen="false"
                aria-controls="docDrawer">
                <img src="{% static 'images/figure.png' %}" width="20px" height="20px"></a></td>
            {% endif %}

        {% if host.stat == '1online' %}
            <td data-mac="{{ mac_address }}" class="text-success stat">在线中</td>
        {% elif host.stat == '2offline' %}
            <td data-mac="{{ mac_address }}" class="text-warning stat">离线</td>
        {% elif host.stat == '0unsafe' %}
            <td data-mac="{{ mac_address }}" class="text-danger stat">危险</td>
        {% endif %}
        <td>{{ host.ip }}</td>
        <td>{{ mac_address }}</td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                更多 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% if host.hostname %}
                    <li><a href="#" data-hostname="{{ host.hostname }}" data-toggle="modal" data-target="#myModal">配置安全策略</a></li>
                    {% endif %}
                    {% if host.is_trusted %}
                        <li><a href="#" class="trust-submit" data-method="remove"
                               data-mac="{{ mac_address }}">从信任列表中移除</a></li>
                    {% else %}
                        <li><a href="#" class="trust-submit" data-method="add"
                               data-mac="{{ mac_address }}">加入信任列表</a></li>

                    {% endif %}

                </ul>
            </div>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
</body>
</html>