.login {
    float: right;
    margin-right: 20px;
}

.setting, .setting:hover {
    height: 40px;
    float: right;
    margin-right: 20px;
    text-decoration: none;
}

.setting-menu a, .setting-menu a:hover {
    clear: both;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
}