
<!--{% load staticfiles %}-->
<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-slider.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-table.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-editable.css' %}">
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-slider.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-editable.js' %}"></script>

        {% block files %} {% endblock %}
    </head>

    <body class="has-offcanvas">

        {% block main_content %} {% endblock %}
    </body>
</html>